---
import Layout from '../../layouts/Layout.astro';
import { getPostBySlug } from '../../lib/api';
import { getImageUrl, getFallbackImageUrl } from '../../utils/image';

// Remove getStaticPaths
const { slug } = Astro.params;
const post = await getPostBySlug(slug);

if (!post) {
  return Astro.redirect('/404');
}

const imageUrl = post.image ? getImageUrl(post.image) : getFallbackImageUrl();
---

<h1>{post.title}</h1>
<p>{post.content}</p>
<img src={imageUrl} alt={post.imagecaption} />